npm.button {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;

}
#mainappbar{
    padding-left: 10vw;
    background-color: white;
    height: 7vh;
    vertical-align: center;
    justify-content: center;
    margin-bottom: 5vw;
}
#mainappcontainer{
    background-color: #DCD0C0;


}