#leftpanelist{
    background-color: #233237;
    height: 50vh;
    color: white;

}

#middlepane{
    background-color: #233237;
    height: 50vh;
    color: white;
}

#middlepaneimage{
    background-color: #233237;
    height: 100%;

}

#rightpanelist{
    background-color: #233237;
    height: 50vh;
    color: white;
}

#homecontainer{
}