#leftpanelist{
    background-color: #66B9BF;
    height: 50vh;

}

#middlepane{
    background-color: #66B9BF;
    height: 50vh;
}

#middlepaneimage{
    background-color: #66B9BF;
    height: 100%;
}

#rightpanelist{
    background-color: #66B9BF;
    height: 50vh;
}

#homecontainer{
}