#leftpanelist{
    background-color: #FFFFFF;
    height: 50vh;
    border-radius: 2%;
    border-color: #DDDFE2;
    border-width: thick;

}

#middlepane{
    background-color:  #FFFFFF;
    height: 50vh;
    border-radius: 2%;
}

#middlepaneimage{
    background-color: #E7E3E1;
    height: 100%;
}

#rightpanelist{
    background-color:  #FFFFFF;
    height: 50vh;
    border-radius: 2%;
}

#homecontainer{
}